<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EmployeeMapper">

    <select id="findAll" resultType="com.example.demo.entity.Employee">
        select * from employee
    </select>

    <select id="findByEmailAndsalary" resultType="com.example.demo.entity.Employee">
        select * from employee
        <where>
            email like #{email} and salary &lt; #{salary}
        </where>
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*) from employee
    </select>

    <update id="createTable" parameterType="string">
        CREATE TABLE employ (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `age` bigint(20) NOT NULL,
  `gender` varchar(255) NOT NULL,
  `salary` double NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8

    </update>
</mapper>
